@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');


/* Font Styles */
.raleway {
    font-family: 'Raleway', sans-serif;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}


/* Heading Styles */
.heading {
    @apply text-2xl md:text-4xl uppercase mt-4 mb-12 py-6 border-y-4 border-gray w-9/12 md:w-1/2 mx-auto
}

.sub-heading {
    @apply text-yellow text-lg;
}

/* Button Styles */
.primary-btn {
    @apply text-navy-blue border-b-4 border-navy-blue text-xl uppercase px-[30px] py-5 rounded-lg hover:text-white hover:bg-navy-blue;
}

.add-to-cart-btn {
    @apply text-yellow bg-gray border-b-4 text-xl px-[30px] uppercase py-5 rounded-lg hover:bg-navy-blue hover:border-b-4 hover:border-navy-blue;
}

.white-btn {
    @apply text-white border-b-4 border-white text-xl uppercase px-[30px] py-5 rounded-lg hover:text-navy-blue hover:bg-white
}



/* Layout Style */
.my-container {
    @apply md:my-12 mx-8 md:mx-72 mt-10 md:mt-20;
}

.page-cover-container {
    @apply hero px-8 md:px-[300px] pt-[130px] md:pt-48 pb-8 md:pb-24;
}

.category-cover-container {
    @apply hero px-8 md:px-[300px] py-10 md:py-24;
}

.three-cols {
    @apply grid grid-cols-1 md:grid-cols-3 gap-6 mb-10 md:mb-20;
}

.two-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
}



/* Navbar Style */
.nav-container {
    @apply flex justify-between bg-black bg-opacity-50 text-white px-10 md:px-14 fixed z-10 w-full;
}

.active-link {
    @apply text-[#EEFF25]
}
/* --------------------------- */


/* Card Items */
.item-title {
    @apply text-black text-2xl font-semibold mb-2;
}
/* ----------------------------- */


/* Page Cover Style */
.cover-heading {
    @apply text-5xl font-bold md:text-[88px] uppercase cinzel text-white;
}

.cover-sub-heading {
    @apply text-white uppercase inter mt-2;
}

/* Category Cover Style */
.category-cover-heading {
    @apply text-5xl md:text-5xl uppercase cinzel text-white;
}

.category-cover-sub-heading {
    @apply text-white inter mt-2;
}
/* React tabs style */
.react-tabs__tab--selected {
    @apply text-yellow border-b-4 pb-1
}